{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="card" style="width: 20rem; margin:10px auto">
<div class="card-body">
<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="form-group row">
        <label for="username" class="col-sm-3 col-form-label">ID</label>
        <div class="col-sm-9">
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label for="password" class="col-sm-3 col-form-label">PW</label>
        <div class="col-sm-9">
        <input type="password" id="password" name="_password" required="required" class="form-control" />
        </div>
    </div>
    <div class="form-group row justify-content-end">
    <div class="col-sm-9">
    <button type="submit" id="_submit" name="_submit" class="btn btn-primary">Login</button>
    </div>
    </div>
</form>
</div>
</div>